/*
 * @name BetterUserPanel
 * @description Make the User Panel collapse when not hovered. Inspired by code from the.rabbit.disabler & prt.scr. Requires ThemeAttributes.
 * @author ZcraftElite
 * @version 1.0.0
*/

/*
██████████████████████████████████████████████████████████████████████████████████████████████
█▄─▄─▀█▄─▄▄─█─▄─▄─█─▄─▄─█▄─▄▄─█▄─▄▄▀█▄─██─▄█─▄▄▄▄█▄─▄▄─█▄─▄▄▀█▄─▄▄─██▀▄─██▄─▀█▄─▄█▄─▄▄─█▄─▄███
██─▄─▀██─▄█▀███─█████─████─▄█▀██─▄─▄██─██─██▄▄▄▄─██─▄█▀██─▄─▄██─▄▄▄██─▀─███─█▄▀─███─▄█▀██─██▀█
▀▄▄▄▄▀▀▄▄▄▄▄▀▀▄▄▄▀▀▀▄▄▄▀▀▄▄▄▄▄▀▄▄▀▄▄▀▀▄▄▄▄▀▀▄▄▄▄▄▀▄▄▄▄▄▀▄▄▀▄▄▀▄▄▄▀▀▀▄▄▀▄▄▀▄▄▄▀▀▄▄▀▄▄▄▄▄▀▄▄▄▄▄▀
*/

/* Code Contributors:
 * the.rabbit.disabler
 * prt.scr
*/

/* ------------------------------ */

._5e434347c823b592-panels,
._5e434347c823b592-panels {
    left: var(--space-sm) !important;
    height: 55px !important;
    width: 55px !important;
    border-radius: 15px !important;
    display: flex !important;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 0.35s;
    z-index: 50000;
    pointer-events: all;
    border: 1px solid var(--border-subtle) !important;

    &:has(.e131a99484292a19-container) {
        border: 1px solid var(--border-normal);
    }
}

.e131a99484292a19-wrapper {
    height: 0;
    overflow: hidden;
}

._5e434347c823b592-panels:hover,
._5e434347c823b592-panels:hover {
    width: 300px !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column;
    border-radius: 15px !important;
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.123));
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

    .e131a99484292a19-wrapper {
        height: auto !important;
    }
}

._5e434347c823b592-sidebar {
    overflow: visible !important;
}

._2637a2609f343032-container {
    padding-bottom: 0px !important;
}

._99e7cad8d4c55236-scroller {
    margin-bottom: 0px !important;
}

._7aaec78b97ff00f7-bottom {
    bottom: 0px !important;
}


.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: opacity 0.1s ease-in, transform 0.1s ease-in;
    will-change: opacity, transform;
}

.visual-refresh [class^="panels_"]:hover [class^="container__"] [class^="buttons__"] {

    transform: scale(1);

    opacity: 1;
}

.visual-refresh ._5dec784a68542d60-panel {
    display: none;
}

.visual-refresh [class^="panels_"]:hover ._5e434347c823b592-panels {
    display: block;
}

.visual-refresh #vc-spotify-player {
    display: none;
}

.visual-refresh [class^="panels_"]:hover #vc-spotify-player {
    display: block;
}