/*
 * @name BetterClanTag
 * @description Collapses the clan tag until hover. Code from its.error.
 * @author ZcraftElite
 * @version 1.0.0
*/

.chipletContainerInner__10651 > .text__10651 > .tagText__10651 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
              margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.chipletContainerInner__10651:hover > .text__10651 > .tagText__10651 {
  max-width: 20ch;
  margin-right: .3ch;
  transition-delay: 0.08s;
}
.chipletContainerInner__10651 > .text__10651 > img.badge__10651 {
  margin-right: 0;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
              margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.chipletContainerInner__10651:hover > span > img.badge__10651 {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  transition-delay: 0.08s;
}
.chipletContainerInner__10651 {
  position: relative;
  display: inline-block;
  background-color: var(--background-mod-subtle);
  padding: 0 2px;
  margin-left: 0;
}
.chipletContainerInner__10651:hover ~ .tagText__10651 {
  display: block;
  clear: both;
  margin-top: .5ch;
}