/*
 * @name BetterClanTag
 * @description Collapses the clan tag until hover. Code from its.error.
 * @author ZcraftElite
 * @version 1.0.0
*/

._10651c5cfe637db6-chipletContainerInner > ._10651c5cfe637db6-text > ._10651c5cfe637db6-tagText {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  will-change: max-width, margin;
  transition: max-width 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
              margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
._10651c5cfe637db6-chipletContainerInner:hover > ._10651c5cfe637db6-text > ._10651c5cfe637db6-tagText {
  max-width: 20ch;
  margin-right: .3ch;
  transition-delay: 0.08s;
}
._10651c5cfe637db6-chipletContainerInner > ._10651c5cfe637db6-text > img._10651c5cfe637db6-badge {
  margin-right: 0;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
              margin 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
._10651c5cfe637db6-chipletContainerInner:hover > span > img._10651c5cfe637db6-badge {
  transform: rotateZ(360deg);
  margin-right: .6ch;
  transition-delay: 0.08s;
}
._10651c5cfe637db6-chipletContainerInner {
  position: relative;
  display: inline-block;
  background-color: var(--background-mod-subtle);
  padding: 0 2px;
  margin-left: 0;
}
._10651c5cfe637db6-chipletContainerInner:hover ~ ._10651c5cfe637db6-tagText {
  display: block;
  clear: both;
  margin-top: .5ch;
}