/*
 * @name ColoredEmbeds
 * @description Make the User Panel collapse when not hovered. Inspired by code from the.rabbit.disabler & prt.scr. Requires ThemeAttributes.
 * @author blade0 & ZcraftElite
 * @version 1.0.0
*/

.embedFull__623de {
    overflow: hidden;

    &::before {
        top: -1px;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        max-width: 100%;
        height: calc(100% + 2px);
        box-sizing: border-box !important;
        opacity: 0.25;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
    }

    .gridContainer__623de {
        z-index: 2;
    }
}
.withAccentColor__60fa3 {
    background: color-mix(in srgb, var(--background-surface-high), var(--__accent-color) 25%);
}