/*
 * @name DiscordShelves
 * @description Makes the server list and member list as shelves, which open on hover.
 * @author ZcraftElite
 * @version 1.0.0
*/

/* ---- Member List ---- */
.c8ffbb79449f399c-membersWrap::-webkit-scrollbar {
  display: none !important;
}

.c8ffbb79449f399c-membersWrap {
  --paddingY: 0;
  position: absolute;
  z-index: 100;
  top: 50%;
  max-height: 70vh;
  overflow-y: auto;
  right: 0%;
  transform: translate(95%, -50%) !important;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  border: 2.2px solid #242424;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.942) 5px 5px 5px 5px;
  height: 10vh;
}

.c8ffbb79449f399c-membersWrap:hover {
  transform: translate(0%, -50%) !important;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
}